TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string = str(input("Enter the string : "))
def rev_string(string):
     reversedstring = string[: :-1]
     return reversedstring
reversedstringfinal = rev_string(string)
print("The reversed string is:",reversedstringfinal)

Enter the string :  Balachandar

The reversed string is: radnahcalaB

2.Check if a string is a palindrome.

In [4]:
stringinput = str(input("Enter the string : "))
stringrev = stringinput[ : :-1]
def ispalindrome():
    if stringinput == stringrev:
        print("Yup! it is palindrome")
    else:
        print("Nope! it is not palindrome")
ispalindrome()

Enter the string :  madam

Yup! it is palindrome

3.Convert a string to uppercase.

In [6]:
stringinput = str(input("enter the string : "))
def cnupc():
    newstring = stringinput.upper()
    print("The Result :",newstring)
cnupc()

enter the string :  machine learning

The Result :  MACHINE LEARNING

4.Convert a string to lowercase.

In [10]:
stringinput = str(input("enter the string : "))
def cnlwc():
    newstring = stringinput.lower()
    print("The Result :",newstring)
cnlwc()

enter the string :  DATA SCIENCE

The Result : data science

5.Count the number of vowels in a string.

In [25]:
i_str = str(input("Enter the string :"))
f_str = i_str.lower()
vowels = ("a","e","i","o","u")
def vcount():
    count = 0
    for i in f_str:
        if i in vowels:
            count += 1
    print("Total Number of Vowels present =",count)
vcount()

Enter the string : balachandar

Total Number of Vowels present = 4

6. Count the number of consonants in a string.

In [9]:
i_str = input("enter the string : ")
rstr=i_str.lower()
consonants=("a",'b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','y','u','z','x','v','w')
def iscons():
        count = 0
        for i in rstr:
            if i in consonants:
                count+=1
        print("Total no of consonants :",count)
iscons()

enter the string :  Balachandar123

Total no of consonants : 11

7.Remove all whitespaces from a string.

In [15]:
istr=input("Enter the string : ")
def rwhite():
     rstr=istr.replace(" ","")
     print("Enter the string without spaces :",rstr)
rwhite()

Enter the string :  ba la ch ! 1 2 3 4 5

Enter the string without spaces : balach!12345

8.Find the length of a string without using the `len()` function.

In [16]:
istr=input("Enter string:")
def lstng():
    count=0
    for i in istr:
        if i in istr:
            count+=1
    print("Length of the string is:",count)
lstng()

Enter string: Bala1234@

Length of the string is: 9

9.Check if a string contains a specific word.

In [18]:
istr=input("Enter the string:")
rstr=istr.replace(" ","")
if 'sudhanshusir' in rstr:
        print("yup! Present")
else:
    print("nope! not present")

Enter the string: pwskills fav mentor is sudhanshu sir

yup! Present

10.Replace a word in a string with another word.

In [8]:
i_str=input("enter the string :")
r_str=i_str.replace("bala","arun")
print("Replaced string ",r_str)

enter the string : balakumar

Replaced string  arunkumar

11. Count the occurrences of a word in a string.

In [9]:
i_str=input("Enter the string: ")
cnts=i_str.count("win")
print("The number of occurences is",cnts)

Enter the string:  winnner!winner

The number of occurences is 2

12. Find the first occurrence of a word in a string.

In [1]:
i_str = input("ente the string:")
def focr():
    res=i_str.index("a")
    print("The first occurrence of word in a string is at",res)
focr()

ente the string: Balachandar

The first occurrence of word in a string is at 1

13. Find the last occurrence of a word in a string.

In [3]:
i_str = input("Enter the string: ")
def lsocr():
    res = i_str.rindex("a")
    print("The last occurrence of a word in string is at",res)
lsocr()

Enter the string:  Balachandar

The last occurrence of a word in string is at 9

14.Split a string into a list of words.

In [4]:
i_str = input("Enter the string: ")
res=list(i_str)
print("The list =",res)

Enter the string:  sivasakthi

The list = ['s', 'i', 'v', 'a', 's', 'a', 'k', 't', 'h', 'i']

15.Join a list of words into a string.

In [15]:
l1=["Full","stack","data science","pro","2.00",]
res=" ".join(map(str,l1))
print(res)

Full stack data science pro 2.00

16.Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
i_str=input("Enter the string: ")
def us():
    res= i_str.replace(" ","_")
    print("The words seperated by underscores are =",res)
us()

Enter the string:  B A L A

The words seperated by underscores are = B_A_L_A

17.Check if a string starts with a specific word or phrase.

In [27]:
i_str = input("enter the string:")
print(i_str.startswith("BALA"))

enter the string: BAVANI

False

18.Check if a string ends with a specific word or phrase.

In [29]:
i_str = input("enter the string: ")
print(i_str.endswith("123"))

enter the string:  Bala 321

False

19. Convert a string to title case.

In [30]:
i_str = input("enter the string: ")
res = i_str.title()
print(res)

enter the string:  hi bala chandar

Hi Bala Chandar

20. Find the longest word in a string.

In [47]:
i_str = input("enter the string: ")
rstr = i_str.split()
longest_word = ""
max_len = 0
def lw():
    for elem in rstr:
        global longest_word,max_len
        elem = elem.strip("!@#$%^&*():,./?;'*")
        if len(elem) > max_len:
            max_len = len(elem)
            longest_word = elem
            
    print("The longest word in string is", longest_word,"and it's length is",max_len)
lw()

enter the string:  BALA1@$ CHANDAR

The longest word in string is CHANDAR and it's length is 7

21.Find the shortest word in a string.

In [51]:
i_str = input("enter the string: ")
rstr = i_str.split()
shortest_word = ""
min_len = float('inf')
def lw():
    for elem in rstr:
        global shortest_word,min_len
        elem = elem.strip("!@#$%^&*():,./?;'*")
        if len(elem)< min_len:
            min_len = len(elem)
            shortest_word = elem
            
    print("The shortest word in string is", shortest_word,"and it's length is",min_len)
lw()

enter the string:   BALA1@$ CHANDAR

The shortest word in string is BALA1 and it's length is 5

22.Reverse the order of words in a string.

In [53]:
i_str = input("Enter the string")
def rv():
    res = i_str.split()
    res1 = res[ : :-1]
    fres = " ".join(res1)
    print("The reversed order =",fres)
rv()

Enter the string 123 Python! is a pro

The reversed order = pro a is Python! 123

23. Check if a string is alphanumeric.

In [56]:
i_str1 = input("Enter the string")
i_str2 = input("Enter the string")
print(i_str1.isalnum())
print(i_str2.isalnum())

Enter the string BALA123
Enter the string BALA!

True
False

24. Extract all digits from a string.

In [2]:
I_str = input("Enter the string")
result = " "
for i in I_str:
    if i.isdigit():
        result += i
print("The digits present in a string are =",result)

Enter the string 24hmkh53bj6n2

The digits present in a string are =  245362

25.Extract all alphabets from a string.

In [16]:
i_str = input("Enter the string")
rstr = i_str.lower()
a = ('q','w','e','r','t','y','u','i','o','p','a','s','d','f','g','h','j','k','l','z','x','c','v','b','n','m')
ares = " "
for char in rstr:
    if char in a:
        ares += char
print("The alphabets present in a string are =",ares)

Enter the string B122A@##L*&^^A

The alphabets present in a string are =  bala

26.Count the number of uppercase letters in a string.

In [4]:
i_str = input("Enter the string")
count = 0
for i in i_str:
    if i.isupper():
        count += 1
print("The number of uppercase letter in a string is:",count)

Enter the string BalachandaR12@!

The number of uppercase letter in a string is: 2

27. Count the number of lowercase letters in a string.

In [5]:
i_str = input("Enter the string")
count = 0
for i in i_str:
    if i.islower():
        count += 1
print("The number of lowercase letter in a string is:",count)

Enter the string MACHine leaRNING

The number of lowercase letter in a string is: 6

28. Swap the case of each character in a string.

In [6]:
i_str = input("Enter the string")
result = i_str.swapcase()
print("String = ",result)

Enter the string ELON MUSK

String =  elon musk

29. Remove a specific word from a string.

In [16]:
i_str = input("Enter the string")
res = i_str.replace("is","")
print(res)

Enter the string bala is!

bala !

30. Check if a string is a valid email address.

In [23]:
i_str = input("Enter the string")
rstr = i_str.lower()
print("The correct mail =",rstr)
email = "@gmail.com"
if rstr[-1:-10] in email:
    print("it is valid email")
else:
    print("it is not a valid email")

Enter the string BALA60859@GMAIL.COM

The correct mail = bala60859@gmail.com
it is valid email

31. Extract the username from an email address string.

In [21]:
i_str = input("Enter the string")
res = i_str[ :-10]
print("The user name =",res)

Enter the string  bala60859@gmail.com

The user name =  bala60859

32. Extract the domain name from an email address string.

In [22]:
i_str = input("Enter the string")
res = i_str.partition("@")
print("The domain name is :",res[2])

Enter the string bala60859@gmail.com

The domain name is : gmail.com

33. Replace multiple spaces in a string with a single space.

In [4]:
def spaces():
    i_str = input("Enter the string")
    rstr = i_str.split()
    result =" ".join(rstr)
    print(result)
spaces()

Enter the string BALA      @        0

BALA @ 0

34. Check if a string is a valid URL.

In [10]:
import re
i_str = input("Enter the url : ")
if (re.findall(r'^(http|https)://[A-Za-z0-9.-]+(\.[A-Za-z]{2,})?(:\d+)?(/[^/]*)*$',i_str)):
    print("Valid url")
else:
    print("Invalid url")

Enter the url :  https://www.geeksforgeeks.org/enumerate-in-python/

Valid url

35.Extract the protocol (http or https) from a URL string.

In [20]:
i_str1 = input("Enter the string1: ")
res = i_str.find("://")
if res != -1:
    print(i_str[:res])
else:
    print("None")

Enter the string1:   http://www.example.com

 http

36. Find the frequency of each character in a string.

In [36]:
def freq(i_str):
    i_str = input("Ente  the string: ")
    re = {}
    for char in i_str:
        if char in re:
            re[char] +=1
        else:
            re[char] = 1
    for char,freq in re.items():
        print("Char:",char + " Frequency:",freq)
freq(i_str)

Ente  the string:  HI BalaBHI ...

Char: H Frequency: 2
Char: I Frequency: 2
Char:   Frequency: 2
Char: B Frequency: 2
Char: a Frequency: 2
Char: l Frequency: 1
Char: . Frequency: 3

37.Remove all punctuation from a string.

In [37]:
def rpc():
    i_str = input("Enter the string : ")
    res = i_str.replace("!","")
    print("String without punctuation =",res)
rpc()

Enter the string :  Hey! whatsup

String without punctuation = Hey whatsup

38. Check if a string contains only digits.

In [1]:
i_str = input("Enter the string : ")
if i_str.isdigit():
    print("True")
else:
    print("False")

Enter the string :  0123404b56

False

39. Check if a string contains only alphabets.

In [2]:
i_str = input("Enter the string : ")
if i_str.isalpha():
    print("True")
else:
    print("False")

Enter the string :  BAla

True

40. Convert a string to a list of characters.

In [3]:
i_str = input("Enter the string : ")
lis = []
for char in i_str:
    lis.append(char)
print(lis)

Enter the string :  Elon musk

['E', 'l', 'o', 'n', ' ', 'm', 'u', 's', 'k']

41. Check if two strings are anagrams.

In [18]:
i_st1 = input("Enter the string1 ")
i_st2 = input("Enter the string2 ")
def isag():
    s1 = i_st1.lower()
    s2 = i_st2.lower()
    res1 = list(s1)
    res2 = list(s2)
    if sorted(res1) ==sorted(res2):
        print("True")
    else:
        print("False")
isag()

Enter the string1  LISTEN
Enter the string2  silent

True

42. Encode a string using a Caesar cipher.

In [14]:
def encryp(text,n):
    result = " "
    for i in text:
        char = i
        if char.isupper():
            result+= chr((ord(char)+n-65)%26+65)
        else:
            result+= chr((ord(char)+n-65)%26+97)
    return result
encryp(text='BALA',n=96)

' TSDS'

43. Decode a Caesar cipher encoded string.

In [15]:
def deccryp(text,n):
    result = " "
    for i in text:
        char = i
        if char.isupper():
            result+= chr((ord(char)-n-65)%26+65)
        else:
            result+= chr((ord(char)-n-65)%26+97)
    return result
deccryp(text='TSDS',n=96)

' BALA'

44. Find the most frequent word in a string.

In [32]:
def freq():
    res = input("Enter the string : ").lower()
    new = {}
    fin = res.replace("!@#$%^&*()_+-=~`<>?:{}|[]\\","" ).split()
    for i in fin:
        if i in new:
            new[i]+=1
        else:
            new[i]=1
    highest_frequency = 0
    frequent_word = None
    for word,frequency in new.items():
        if frequency>highest_frequency:
            highest_frequency = frequency
            frequent_word = word
    return frequent_word
result = freq()
print("The Most frequent word in a string is",result)

Enter the string :  DATA! data dAta bala bala

The Most frequent word in a string is data

45. Find all unique words in a string.

In [1]:
def un():
    i_str = input("Enter the string : ")
    fin = i_str.lower()
    res = fin.replace("!@#$%^&*()_+-=~`<>?:{}|[]\\","" ).split()
    uniqueword = set(res)
    return list(uniqueword)
un()

Enter the string :  bala data data bala ,,mn ff

[',,mn', 'bala', 'ff', 'data']

46. Count the number of syllables in a string.

In [41]:
def cs():
    i_str = input("Enter the string : ")
    res = i_str.lower()
    syllables = "aeiou"
    count = 0
    for i in res:
        if i in syllables:
            count+=1
    print("The total number of syllables in a string is ",count)
cs()

Enter the string :  hello

The total number of syllables in a string is  2

47. Check if a string contains any special characters.

In [51]:
def isspecial():
    i_str = input("Enter the string : ")
    specialcharacter = "~!@#$%^&*()_+`-={}:\"<>?[];',./\|*"
    specialcharacter1 = []
    for i in i_str:
        if i in specialcharacter:
            specialcharacter1+=i
    if specialcharacter1 == []:
        print("It doesn't contains any special characters")
    else:
        print("It contains special character")
    
        
isspecial()

Enter the string :  BALA@

It contains special character

48.Remove the nth word from a string.

In [59]:
def rmnr(n):
    i_str = input("Enter the string : ")
    res = i_str.split()
    if 1<=n<len(res):
        res.pop(n-1)
        modifiedstring = " ".join(res)
        return modifiedstring
    else:
        return"n value is not possible"
    
print("The Final result =",rmnr(3))

Enter the string :  Remove the nth word from a string.

The Final result = Remove the word from a string.

49. Insert a word at the nth position in a string.

In [58]:
def insn(n):
    i_str = input("Enter the string : ")
    res = i_str.split()
    if 1<=n<len(res):
        res.insert(n-1,"nth")
        modifiedstring = " ".join(res)
        return modifiedstring
    else:
        return "n value is not possible"
print("The Final result =",insn(3))

Enter the string :  Remove the word from a string.

The Final result = Remove the nth word from a string.

50. Convert a CSV string to a list of lists.

In [18]:
csv_string = """Name,Age,Location
Alice,30,New York
Bob,25,Los Angeles
Charlie,35,San Francisco"""
res = csv_string.split("\n")
d = []
for i in res:
    if i:
        r=i.split(",")
        d.append(r)
print(d)

[['Name', 'Age', 'Location'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles'], ['Charlie', '35', 'San Francisco']]

LIST BASED PRACTICE PROBLEMS

1. Create a list with integers from 1 to 10.

In [20]:
[i for i in range (1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [21]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0
for i in l1:
    length+=1
print("Length of the List = ",length)

Length of the List =  10

3. Append an element to the end of a list.

In [24]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.append(11)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [28]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.insert(-1,0)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]

5. Remove an element from a list by its value.

In [31]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.remove(10)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

6. Remove an element from a list by its index.

In [30]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.pop(0)
l1

[2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [37]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
if 2 in l1:
    print("Exist")
else:
    print("Not Exist")

Exist

8. Find the index of the first occurrence of an element in a list.

In [39]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9,4, 10]
print(l1.index(4))

3

9. Count the occurrences of an element in a list.

In [40]:
l1 = [1, 2, 3, 4, 5,5,6, 7, 8, 9,5,10]
l1.count(5)

3

10. Reverse the order of elements in a list.

In [43]:
l1 = [1, 2, 3, 4, 5,5,6, 7, 8, 9,5,10]
l1.reverse()
print(l1)

[10, 5, 9, 8, 7, 6, 5, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [53]:
l1 = [1, 2, 3, 4, 5,5,6, 99,5,54,66,7, 8, 9,5,10]
l1.sort()
print(l1)

[1, 2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 9, 10, 54, 66, 99]

12. Sort a list in descending order.

In [52]:
l1 = [1, 2, 3, 4, 5,5,6, 7, 8, 9,5,10]
l1.sort(reverse =True)
l1

[10, 9, 8, 7, 6, 5, 5, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [55]:
[i for i in range(1,20+1) if i %2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [56]:
[i for i in range(1,20+1) if i %2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [57]:
l1 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
print(sum(l1))

100

16. Find the maximum value in a list.

In [58]:
l1=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
max(l1)

19

17. Find the minimum value in a list.

In [59]:
l1 =[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
min(l1)

1

18. Create a list of squares of numbers from 1 to 10.

In [60]:
[i*i for i in range(1,10+1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [67]:
import random 
[random.randint(1,100) for i in range(10+1)]

[56, 42, 11, 49, 54, 69, 74, 87, 14, 19, 89]

20. Remove duplicates from a list.

In [68]:
l1 = [1,2,22,22,33,1111,1111,1,55,66,78,89,98,89,0,0,8,8]
res = set(l1)
print(list(res))

[0, 1, 2, 33, 66, 98, 8, 78, 55, 22, 1111, 89]

21. Find the common elements between two lists.

In [3]:
def common(l1,l2):
    res =[]
    for i in l1:
        if i in l2:
            res.append(i)
    print(res)
common(l1 =[1,2,3,4,5,6,7],l2 =[1,3,5,55,666,66])

[1, 3, 5]

22. Find the difference between two lists.

In [4]:
def common(l1,l2):
    res =[]
    for i in l1:
        if i not in l2:
            res.append(i)
    print(res)
common(l1 =[1,2,3,4,5,6,7],l2 =[1,3,5,55,666,66])

[2, 4, 6, 7]

23. Merge two lists.

In [6]:
l1 =[1,2,3,4,5,6,7]
l2 =[1,3,5,55,666,66]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 1, 3, 5, 55, 666, 66]

24. Multiply all elements in a list by 2.

In [7]:
l1 =[1,2,3,4,5,6,7]
res = []
for i in l1:
    res.append(i*2)
print(res)

[2, 4, 6, 8, 10, 12, 14]

25. Filter out all even numbers from a list.

In [8]:
l1=[1,2,3,4,5,6,7,8,9,10]
res = [i for i in l1 if i%2==0]
res

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [11]:
l1 = ["1","2","3","4"]
res = []
for i in l1:
    res.append(int(i))
print(res)

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [12]:
l1 = [1,2,3,4]
res = []
for i in l1:
    res.append(str(i))
print(res)

['1', '2', '3', '4']

28. Flatten a nested list.

In [15]:
def flp(nested_list):
    flatten_list = []
    for items in nested_list:
        if isinstance(items,list):
            flatten_list.append(flp(items))
        else:
            flatten_list.append(items)
    return flatten_list
nested_list = [[1,4,5],45,5,5,[66,66,77,"**","bala",True]]
result =flp( nested_list)
print(result)

[[1, 4, 5], 45, 5, 5, [66, 66, 77, '**', 'bala', True]]

29. Create a list of the first 10 Fibonacci numbers.

In [26]:
def fibseq(n):
    fib_num =[0,1]
    while len(fib_num)<n:
        res = fib_num[-1]+fib_num[-2]
        fib_num.append(res)
    return fib_num
fibseq(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [13]:
def issort(ls):
    for i in range(1,len(ls)):
        if ls[i]< ls[i-1]:
            return False
    return True
ls = [1,2,33,4,5,6,7,8,0]
if issort(ls):
    print("The list is sorted")
else:
    print("List is not sorted")

List is not sorted

31. Rotate a list to the left by `n` positions.

In [4]:
def rotatelef(lst,n):
    n%len(lst)
    res = lst[n:]+lst[:n]
    return res
lst = [1,2,3,4,5]
rotated = rotatelef(lst,3)
print("The Rotated list =",rotated)

The Rotated list = [4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [21]:
def rotateryt(lst,n):
    n%len(lst)
    res = lst[-n:]+lst[:-n]
    return res
lst = [1,2,3,4,5]
rotated = rotateryt(lst,3)
print("The Rotated list =",rotated)

The Rotated list = [3, 4, 5, 1, 2]

33. Create a list of prime numbers up to 50.

In [20]:
res = [i for i in range(1,50+1)if i%i ==0] 
print(res ,end = " ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

34. Split a list into chunks of size `n`.

In [39]:
def chunks(lst,n): 
    for i in range(0,len(lst),n): 
        yield lst[i : i+n] 
result = list(chunks(lst,10)) 
print(result)

[[1, 2, 3, 4, 5, 6, 7, 7, 8, 90], [12, 2, 3, 4, 5, 6, 7, 8, 9, 1], [2, 3, 34, 4, 555, 66, 666, 6, 7777, 898765], [34543]]

In [2]:
lst = [1,2,3,4,5,6,7,7,8,90,12,2,3,4,5,6,7,8,9,1,2,3,34,4,555,66,666,6,7777,898765,34543]
n = 10
res = [lst[i*n :(i+1)*n] for i in range((len(lst) + n-1)//n)]
print(res)

[[1, 2, 3, 4, 5, 6, 7, 7, 8, 90], [12, 2, 3, 4, 5, 6, 7, 8, 9, 1], [2, 3, 34, 4, 555, 66, 666, 6, 7777, 898765], [34543]]

In [ ]:
35. Find the second largest number in a list.

In [9]:
lst = [1,2,3,4,5,6,7,7,8,90,12,2,3,4,5,6,7,8,9,1,2,3,34,4,555,66,666,6,7777,898765,34543]
def secondl(l):
    res = sorted(set(lst))
    return res[-2]
results = secondl(lst)
print("The second largest number in the list is",results)

The second largest number in the list is 34543

36. Replace every element in a list with its square.

In [3]:
lst = [1,2,3,4,5,6,7]
res=[i*i for i in lst]
print(res)

[1, 4, 9, 16, 25, 36, 49]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [12]:
l1 = [1,4,8,10,11,6,7]
res = {}
for i,num in enumerate (l1):
    res[num] = i
print(res)

{1: 0, 4: 1, 8: 2, 10: 3, 11: 4, 6: 5, 7: 6}

38. Shuffle the elements of a list randomly.

In [19]:
l1 = [1,2,3,4,5,6,7,8,9,10]
import random
random.shuffle(l1)
l1

[5, 10, 1, 9, 8, 3, 6, 7, 4, 2]

39. Create a list of the first 10 factorial numbers.

In [21]:
def fact(n):
        if n==0 or n==1:
            return n
        else:
            return n* fact(n-1)
res = [fact(i) for i in range(0,10+1)] 
res

[0, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [25]:
l1 = [1,2,3,4,5]
l2 = [10,9,8,7,5,6]
def onec():
    for i in l1:
        if i in l2:
            return True
    return False
if onec():
    print("two lists have at least one element in common")
else:
    print("Nope")

two lists have at least one element in common

41. Remove all elements from a list.

In [31]:
l1 = [1,2,3,4,5]
l1.clear()
l1

[]

42. Replace negative numbers in a list with 0.

In [39]:
l1 =[1,2,3,4-5,-6,778,0]
for i in range(len(l1)):
    if l1[i]<0:
        l1[i] = 0
l1

[1, 2, 3, 0, 0, 778, 0]

43. Convert a string into a list of words.

In [41]:
i_str = input("Enter the string : ")
res = []
for i in i_str:
    res.append(i)
print(res)

Enter the string :  VIRAT KOHLI

['V', 'I', 'R', 'A', 'T', ' ', 'K', 'O', 'H', 'L', 'I']

43. Convert a string into a list of words.

In [2]:
istr = "VIRAT KOHLI"
def dt():
        res1 = []
        res=istr.split()
        for i in res:
            res1.append(i)
        print(res1)
dt()

['VIRAT', 'KOHLI']

45. Create a list of the first `n` powers of 2.

In [15]:
def sd(n):
    res = [2**i for i in range (n)]
    return res
result = sd(3)
print(result)

[1, 2, 4]

46. Find the longest string in a list of strings.

In [24]:
def lstr(l):
    longest_string = " "
    for i in l:
        if len(i)> len(longest_string):
            longest_string = i
    return longest_string
string = ["bala","arunkumar","baskaran","radha"]
print("The longest string in this list is",lstr(string))

The longest string in this list is arunkumar

47. Find the shortest string in a list of strings.

In [30]:
def lstr(l):
    shortest_string = l[0]
    for i in l:
        if len(i)<len(shortest_string):
            shortest_string = i
    return shortest_string
string = ["bala","arunkumar","baskaran","radha"]
print("The shortest string in this list is",lstr(string))

The shortest string in this list is bala

48. Create a list of the first `n` triangular numbers.

In [13]:
def tri(n):
    res = [i*(i+1)//2 for i in range(1,n+1)]
    return res
tri(10)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [33]:
l1  = [1,2,3,4,["bla",1,2],45]
def subs(l1):
    for i in l1:
        if isinstance(i,list):
            return True
    else:
        return False
if subs(l1):
    print("List contains other sublist")
else:
    print("it doesn't")

List contains other sublist

50. Swap two elements in a list by their indices.

In [2]:
l = [1,2,3,4,5]
l[3] = l[4]
l

[1, 2, 3, 5, 5]

TUPLE BASED PROBLEMS

1. Create a tuple with integers from 1 to 5.

In [28]:
res = tuple(i for i in range(1,6))
res

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [29]:
tup = (1, 2, 3, 4, 5)
tup[2]

3

3. Find the length of a tuple without using the `len()` function.

In [31]:
tup = (1, 2, 3, 4, 5,44,555)
res = 0
for i in tup:
    res+=1
print("The length of the tuple is",res)

The length of the tuple is 7

4. Count the occurrences of an element in a tuple.

In [36]:
tup = (1,222,222,333,444,3333,44,44,55,6,5,4,5,0)
res = {}
for i in tup:
    if i in res:
        res[i]+=1
    else:
        res[i]=1
print("The number of times 222 appeared in this tuple is ",res[222])

The number of times 222 appeared in this tuple is  2

5. Find the index of the first occurrence of an element in a tuple.

In [45]:
tup = (1,2,3,4,2,4,2)
element_to_find = 4
index = -1
for i,num in enumerate(tup):
    if num == element_to_find:
        index = i
        break
print("The index of the first occurrence of an",element_to_find,"in a tuple is ",index)

The index of the first occurrence of an 4 in a tuple is  3

6. Check if an element exists in a tuple.

In [51]:
tup  = (1,2,3,4,5)
element_to_check = !
if element_to_check in tup:
    print("Exist")
else:
    print("Not Exist")

Not Exist

7. Convert a tuple to a list.

In [52]:
tup  = (1,2,3,4,5)
res = list(tup)
res

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [53]:
l = [1, 2, 3, 4, 5]
res = tuple(l)
res

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [2]:
tup = (1,2,3)
l1,l2,l3 = tup
print(l1)
print(l2)
print(l3)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [6]:
res = tuple(i for i in range(1,11) if i%2==0)
res

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [7]:
res = tuple(i for i in range(1,11) if i%2!=0)
res

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [8]:
l1=(1, 3, 5, 7, 9)
l2=(2, 4, 6, 8, 10)
print(l1+l2)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

13. Repeat a tuple three times.

In [9]:
l1=(1, 3, 5, 7, 9)
l1*3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

14. Check if a tuple is empty.

In [12]:
l1 = (1,2,3)
if len(l1)==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

15. Create a nested tuple.

In [15]:
res = (1,2,3,4,("bala","arun"))
print(res)

(1, 2, 3, 4, ('bala', 'arun'))

16. Access the first element of a nested tuple.

In [17]:
nested_tuple = (1, 2, 3, 4, ('bala', 'arun'))
print(nested_tuple[4][1])

arun

17. Create a tuple with a single element.

In [20]:
tup = (5,)
print("The tuple with single element",tup)

The tuple with single element (5,)

18. Compare two tuples.

In [21]:
tup_1 = (1,2,3,4,5)
tup_2 = (5,4,32,2)
print(tup_1 == tup_2)

False

19. Delete a tuple.

In [23]:
tup = ("Virat","Kohli")
del tup
print(tup)

NameError: name 'tup' is not defined

20. Slice a tuple.

In [24]:
tup = (1,2,3,4)
print(tup[0:3])

(1, 2, 3)

21. Find the maximum value in a tuple.

In [25]:
tup = (1,2,3,4)
max(tup)

4

22. Find the minimum value in a tuple.

In [27]:
tup = (1,2,3,4)
min(tup)

1

23. Convert a string to a tuple of characters.

In [31]:
i_str = "Nikhil kamath"
print(tuple(i_str))

('N', 'i', 'k', 'h', 'i', 'l', ' ', 'k', 'a', 'm', 'a', 't', 'h')

24. Convert a tuple of characters to a string.

In [32]:
tup = ('N', 'i', 'k', 'h', 'i', 'l', ' ', 'k', 'a', 'm', 'a', 't', 'h')
print("".join(tup))

Nikhil kamath

25. Create a tuple from multiple data types.

In [36]:
tup = ([1,2,3,4],"Bala",{"virat","kohli"},{"name":"virat kohli","profession":"Cricketer"})
print(tup)
type(tup)

([1, 2, 3, 4], 'Bala', {'virat', 'kohli'}, {'name': 'virat kohli', 'profession': 'Cricketer'})

tuple

26. Check if two tuples are identical.

In [38]:
tup_1 = (1,2,3)
tup_2 = (1,2,3)
if tup_1 == tup_2:
    print("identical")
else:
    print("Non identical")

identical

27. Sort the elements of a tuple.

In [43]:
tup = (6,7,8,5,4,3,21,0)
tuple(sorted(tup))

(0, 3, 4, 5, 6, 7, 8, 21)

28. Convert a tuple of integers to a tuple of strings.

In [4]:
tup = (1,2,3,4)
res = tuple(str(num) for num in tup)
print(res)

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [6]:
tup = ('1', '2', '3', '4')
res = tuple(int(num) for num in tup )
print(res)

(1, 2, 3, 4)

30. Merge two tuples.

In [7]:
tup1 = (1,2,3,4,5)
tup2 = (11,22,333,44,55)
print(tup1+tup2)

(1, 2, 3, 4, 5, 11, 22, 333, 44, 55)

31. Flatten a nested tuple.

In [8]:
nested_tuple = (1,2,3,4,("bala","arun"))
res = []
for i in nested_tuple:
    if isinstance(i,tuple):
        res.extend(i)
    else:
        res.append(i)
print(tuple(res))

(1, 2, 3, 4, 'bala', 'arun')

32. Create a tuple of the first 5 prime numbers.

In [20]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
res = [i for i in range(2,100) if is_prime(i)][:5]
print(tuple(res))

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [21]:
tup = (1,2,3,2,1)
if tup[ : ] == tup[ : :-1]:
    print("it is palindrome")
else:
    print("Non palindrome")

it is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [23]:
res = tuple(i*i for i in range(1,6))
print(res)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [24]:
tup = (1,2,3,4,5,6)
l = []
for i in tup:
    if i%2==0:
        l.append(i)
print(tuple(l))

(2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [25]:
tup = (1,2,3,4,5,6)
res = tuple(i*2 for i in tup)
print(res)

(2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [37]:
import random
res = tuple(random.randint(1,100) for i in range(10))
print(res)

(22, 52, 60, 97, 47, 43, 4, 14, 67, 4)

38. Check if a tuple is sorted.

In [32]:
tup= (1,2,3,4)
res = 0
for i in range(1,len(tup)):
    if tup[i] < tup[i-1]:
        res+=1
if res == 0:
    print("it is sorted")
else:
    print("Not sorted")

it is sorted

39. Rotate a tuple to the left by `n` positions.

In [38]:
tup = (1,2,3,4,5)
def rotlef(tup,n):
    n = n%len(tup)
    result =  tup[n:] + tup[:n]
    return result
rotlef(tup,2)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [40]:
tup = (1,2,3,4,5)
def rotlef(tup,n):
    n = n%len(tup)
    result =  tup[-n:] + tup[:-n]
    return result
rotlef(tup,2)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [3]:
def first(n):
    fibonacci_series = [0,1]
    while len(fibonacci_series)<n:
        res = fibonacci_series[-1]+fibonacci_series[-2]
        fibonacci_series.append(res)
    return fibonacci_series
series = tuple(first(5))
print(series)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [6]:
res = tuple(input("Enter "))
res

Enter  NIKHIL KAMATH

('N', 'I', 'K', 'H', 'I', 'L', ' ', 'K', 'A', 'M', 'A', 'T', 'H')

43. Swap two elements in a tuple.

In [44]:
tup = (1,2,3,4,5)
tup[0] = tup[1]
print(tup)

TypeError: 'tuple' object does not support item assignment

44. Reverse the elements of a tuple.

In [8]:
tup = (1,2,3,4,5)
reversed_tuple = tup[ : :-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [9]:
def np(n):
    res = [2*i for i in range(n)]
    return tuple(res)
np(10)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

46. Find the longest string in a tuple of strings.

In [10]:
tup = ("bal","Arun","kohli","Baskaran")
def longs(tup):
    longest_string = " "
    for i in tup:
        if len(i)> len(longest_string):
            longest_string = i
    return longest_string
longs(tup)

'Baskaran'

47. Find the shortest string in a tuple of strings.

In [14]:
tup = ("bal","Arun","kohli","Baskaran")
def shorts(tup):
    shortest_string = ""
    for i in tup:
        if len(i)<len(shortest_string):
            shortest_string = i
    return shortest_string
shorts(tup)

''

48. Create a tuple of the first `n` triangular numbers.

In [3]:
def tri(n):
    res = tuple(i*(i+1)//2 for i in range(1,n+1))
    return res
tri(5)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [6]:
tup = (1,2,3,2,(3,4,5))
res = 0
for i in tup:
    if isinstance(i,tuple):
        res+=1
if res==0:
    print("Nope")
else:
    print("Present")

Present

50. Create a tuple of alternating 1s and 0s of length `n`.

In [7]:
def alter(n):
    res = tuple(1 if i%2==0 else 0 for i in range(n))
    return res
alter(10)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [8]:
res = {1,2,3,4,5}
print(res)
type(res)

{1, 2, 3, 4, 5}

set

2. Add an element to a set.

In [9]:
res = {1,2,3,4,5}
res.add(6)
res

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [10]:
res = {1,2,3,4,5}
res.remove(5)
res

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [11]:
res = {1,2,3,4,5}
1 in res

True

5. Find the length of a set without using the `len()` function.

In [12]:
res = {1,2,3,4,5}
count = 0
for i in res:
    count+=1
print("The length of the res",count)

The length of the res 5

6. Clear all elements from a set.

In [14]:
res = {1,2,3,4,5}
res.clear()
res

set()

7. Create a set of even numbers from 1 to 10.

In [15]:
res = {i for i in range(1,11)if i %2==0}
res

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [16]:
res = {i for i in range(1,11)if i %2!=0}
res

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [17]:
l1 = {1,2,3,4,5}
l2 ={5,4,3,2,1}
l1.union(l2)

{1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [19]:
l1 = {1,2,3,4,5}
l2 ={5,4,3,2,1}
res =l1.intersection(l2)
res

{1, 2, 3, 4, 5}

11. Find the difference between two sets.

In [2]:
l1 = {1,2,3,4,5}
l2 = {1,2,3,44,5}
l2.difference(l1)

{44}

12. Check if a set is a subset of another set.

In [8]:
s = {1,2,1,2,3,4}
s1 = {1,2,3,4}
res = s1.issubset(s)
res

True

13. Check if a set is a superset of another set.

In [10]:
s = {1,2,1,2,3,4}
s1 = {1,2,3,4}
res = s.issuperset(s1)
res

True

14. Create a set from a list.

In [13]:
l = [1,2,3,3,4,5]
res = set(l)
res

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [14]:
s = {1, 2, 3, 4, 5}
res = list(s)
res

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [35]:
s = {1,3,4,5}
import random
res = random.choice(list(s))
s.remove(res)
print(s)

{1, 3, 5}

17. Pop an element from a set.

In [38]:
s = {1,2,3,4}
s.pop()
s

{2, 3, 4}

18. Check if two sets have no elements in common.

In [40]:
s1={1,2,3,4}
s2={5,6,7,8}
if s1.intersection(s2):
    print("it has common elements")
else:
    print("it has no elements in common")

it has no elements in common

19. Find the symmetric difference between two sets.

In [42]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s1^s2

{5}

20. Update a set with elements from another set.

In [44]:
s1={1,2,3,4}
s2={5,6,7,8}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [61]:
def prn(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True
prime_set = set()
n = 1
while len(prime_set)<5:
    if prn(n):
        prime_set.add(n)
    n+=1
print(prime_set)

{1, 2, 3, 5, 7}

22. Check if two sets are identical.

In [62]:
s1 = {1,2,3,4}
s2 = {1,2,3,4}
if s1==s2:
    print("identical")
else:
    print("Not identical")

identical

23. Create a frozen set.

In [64]:
element = (1,2,3,4,5)
s = frozenset(element)
print(s)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [71]:
s1 = {1, 2, 3, 4, 5}
s2 = {5, 7, 8, 9, 10}

if s1.isdisjoint(s2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are not disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [73]:
res =[i*i for i in range(1,5+1)]
print(set(res))

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [78]:
s1 = {1, 4, 9, 16, 25}
res = [i for i in s1 if i%2==0]
set(res)

{4, 16}

27. Multiply all elements in a set by 2.

In [79]:
s1 = {1, 4, 9, 16, 25}
res = [2*i for i in s1]
set(res)

{2, 8, 18, 32, 50}

28. Create a set of random numbers.

In [86]:
random_set = set()
number = 5
for i in range(number):
    re = random.randint(1,10000)
    random_set.add(re)
print(random_set)

{6627, 452, 4938, 5931, 3662}

29. Check if a set is empty.

In [87]:
set = {1,2,3}
if len(set)==0:
    print("set is empty")
else:
    print("set is not empty")

set is not empty

30. Create a nested set (hint: use frozenset).

In [89]:
s1 = {1,2,34,5}
s2 = {2,3,4,5,5}
res = {frozenset(s1),frozenset(s2)}
print(res)

{frozenset({1, 2, 34, 5}), frozenset({2, 3, 4, 5})}

31. Remove an element from a set using the discard method.

In [91]:
set = {1,2,3,4}
set.discard(2)
set

{1, 3, 4}

32. Compare two sets.

In [93]:
set1 = {1,2,3,4}
set2 = {1, 3, 4}
set2>set2

False

33. Create a set from a string.

In [12]:
i_str = "Elon musk"
print(set(i_str))

{'k', ' ', 'u', 'E', 'l', 'n', 'm', 's', 'o'}

34. Convert a set of strings to a set of integers.

In [11]:
s = {"123"}
res = set()
for i in s:
    res.add(int(i))
print(res)

{123}

35. Convert a set of integers to a set of strings.

In [9]:
s = {123}
res = set()
for i in s:
    res.add(str(i))
print(res)

{'123'}

36. Create a set from a tuple.

In [10]:
tup = (1,2,3,4)
s = set()
for i in tup:
    s.add(i)
print(s)

{1, 2, 3, 4}

37. Convert a set to a tuple.

In [114]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [115]:
set = {1,2,3}
max(set)

3

39. Find the minimum value in a set.

In [116]:
set = {1,2,3}
min(set)

1

40. Create a set from user input.

In [2]:
i_str = input("Enter ? ")
res = set()
for i in i_str:
    res.add(i)
res

Enter ?  123 BALA "bala"

{' ', '"', '1', '2', '3', 'A', 'B', 'L', 'a', 'b', 'l'}

41. Check if the intersection of two sets is empty.

In [4]:
set1 = {'E', 'l', 'o', 'n', ' ', 'M', 'u', 's', 'k'}
set2 = {'E', 'l', 'o', 'n', ' ', 'X', 'Y', 'Z'}
if set1.isdisjoint(set2):
    print("The sets have no common elements.")
else:
    print("The sets have common elements.")

The sets have common elements.

42. Create a set of the first 5 Fibonacci numbers.

In [5]:
fibonacci_set = set()
a, b = 0,1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [7]:
l = [1,1,2,2,33,33,44,4,5]
set(l)
list(set(l))

[1, 2, 33, 4, 5, 44]

44. Check if two sets have the same elements, regardless of their count.

In [8]:
set1 = {'E', 'l', 'o', 'n', ' ', 'M', 'u', 's', 'k'}
set2 = {'E', 'l', 'o', 'n', ' ', 'k', 's', 'u', 'M'}

if set1 == set2:
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of their count.

45. Create a set of the first `n` powers of 2.

In [21]:
def np(n):
    res = [2**i for i in range(1,n+1)]
    return res
result = np(5)
result

[2, 4, 8, 16, 32]

46. Find the common elements between a set and a list.

In [29]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements_alternative = my_set & set(my_list)
print("Common element:", common_elements_alternative)

Common element: {3, 4, 5}

47. Create a set of the first `n` triangular number

In [22]:
def generate_triangular_numbers(n):
    triangular_numbers = set() 
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [26]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0) 
    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

50. Merge multiple sets into one.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

.......................................................FINISHED.............................................................................